################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/packages
/StravaDownloader/obj/Debug
/StravaDownloader/bin/Debug
/StravaDownloader/obj/Debug
/StravaDownloader/bin/Debug
/StravaDownloader/bin/Debug
/StravaDownloader/bin/Debug/System.Windows.Interactivity.dll
/StravaDownloader/bin/Debug/StravaDownloader.pdb
/StravaDownloader/bin/Debug/StravaDownloader.exe.config
/StravaDownloader/bin/Debug/StravaDownloader.exe
/StravaDownloader/bin/Debug/RestSharp.xml
/StravaDownloader/bin/Debug/RestSharp.dll
/StravaDownloader/bin/Debug/Newtonsoft.Json.xml
/StravaDownloader/bin/Debug/Newtonsoft.Json.dll
/StravaDownloader/bin/Debug/Microsoft.Practices.ServiceLocation.xml
/StravaDownloader/bin/Debug/Microsoft.Practices.ServiceLocation.pdb
/StravaDownloader/bin/Debug/Microsoft.Practices.ServiceLocation.dll
/StravaDownloader/bin/Debug/GalaSoft.MvvmLight.xml
/StravaDownloader/bin/Debug/GalaSoft.MvvmLight.Platform.xml
/StravaDownloader/bin/Debug/GalaSoft.MvvmLight.Platform.pdb
/StravaDownloader/bin/Debug/GalaSoft.MvvmLight.Platform.dll
/StravaDownloader/bin/Debug/GalaSoft.MvvmLight.pdb
/StravaDownloader/bin/Debug/GalaSoft.MvvmLight.Extras.xml
/StravaDownloader/bin/Debug/GalaSoft.MvvmLight.Extras.pdb
/StravaDownloader/bin/Debug/GalaSoft.MvvmLight.Extras.dll
/StravaDownloader/bin/Debug/GalaSoft.MvvmLight.dll
/StravaDownloader.Test/bin/Debug
/StravaDownloader.Test/obj
/StravaDownloader.Test/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/StravaDownloader.Test/obj/Debug/StravaDownloader.Test.pdb
/StravaDownloader.Test/obj/Debug/StravaDownloader.Test.dll
/StravaDownloader.Test/obj/Debug/StravaDownloader.Test.csprojResolveAssemblyReference.cache
/StravaDownloader.Test/obj/Debug/StravaDownloader.Test.csproj.FileListAbsolute.txt
/StravaDownloader.Test/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/StravaDownloader.Test/obj/Debug/CoreCompileInputs.cache
