<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    </startup>
  <appSettings>
    <add key="at" value=""/>
    <add key="clientId" value="17471"/>
    <add key="clientSecret" value="7b746d1812333d5597817f9c0693350afd29931a"/>
  </appSettings>
</configuration>
